<table>
  <thead>
  <tr>
    <th>
      <div>Поезд</div>
    </th>
    <th>
      <div>Откуда</div>
    </th>
    <th>
      <div>Дата отправления</div>
    </th>
    <th>
      <div>Время отправления</div>
    </th>
    <th>
      <div>Куда</div>
    </th>
    <th>
      <div>Дата прибытия</div>
    </th>
    <th>
      <div>Время прибытия</div>
    </th>
    <th>
      <div>
        <button (click)="createTicket()" class="btn btn-outline-danger btn-sm create">Создать</button>
      </div>
    </th>
    <div>
      <th id="rzdLogo"></th>
    </div>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<ul class="listTable">
  <li *ngFor="let ticket of tickets">
    <ng-template [ngTemplateOutlet]="loadTemplate(ticket)"
                 [ngTemplateOutletContext]="{ $implicit: ticket}">
    </ng-template>
  </li>
</ul>
<app-form [isVisible]='isVisible' (visibleChange)="onChangedVisible()" (resetEditEmit)="cancel()"></app-form>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-ticket>
  <table>
    <td>
      <div>{{ticket.trainId}}</div>
    </td>
    <td>
      <div>{{ticket.fromWhere}}</div>
    </td>
    <td>
      <div>{{ticket.departureDate}}</div>
    </td>
    <td>
      <div>{{ticket.departureTime}}</div>
    </td>
    <td>
      <div>{{ticket.where}}</div>
    </td>
    <td>
      <div>{{ticket.arrivalDate}}</div>
    </td>
    <td>
      <div>{{ticket.arrivalTime}}</div>
    </td>
    <td>
      <div>
        <button (click)="deleteTicket(ticket)" class="btn btn-outline-danger btn-sm delete">Удалить</button>
      </div>
    </td>
    <td>
      <div>
        <button (click)="setEditTicket(ticket)" [disabled]="editMode" class="btn btn-outline-danger btn-sm">
          Редактировать
        </button>
      </div>
    </td>
  </table>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
  <form #ticketsForm="ngForm">
    <table>
      <td>
        <div class="input-group input-group-sm"><input type="text" [(ngModel)]="editedTicket.trainId"
                                                       class="form-control" name="trainId" required/>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm"><input type="text" [(ngModel)]="editedTicket.fromWhere"
                                                       class="form-control" name="fromWhere" required/>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm"><input type="date" [(ngModel)]="editedTicket.departureDate"
                                                       class="form-control" name="departureDate"
                                                       required/></div>
      </td>
      <td>
        <div class="input-group input-group-sm"><input type="text" [(ngModel)]="editedTicket.departureTime"
                                                       class="form-control" name="departureTime"
                                                       placeholder="чч:мм" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                                       required/></div>
      </td>
      <td>
        <div class="input-group input-group-sm"><input type="text" [(ngModel)]="editedTicket.where" class="form-control"
                                                       name="where" required/></div>
      </td>
      <td>
        <div class="input-group input-group-sm"><input type="date" [(ngModel)]="editedTicket.arrivalDate"
                                                       class="form-control" name="arrivalDate"
                                                       required/></div>
      </td>
      <td>
        <div class="input-group input-group-sm"><input type="text" [(ngModel)]="editedTicket.arrivalTime"
                                                       class="form-control" name="arrivalTime"
                                                       placeholder="чч:мм" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                                       required/></div>
      </td>
      <td>
        <div><input type="button" [disabled]="ticketsForm.invalid" value="Сохранить" (click)="editTicket(editedTicket)"
                    class="btn btn-success btn-sm"/></div>
      </td>
      <td>
        <div><input type="button" [disabled]="ticketsForm.invalid" value="Отмена" (click)="cancel()"
                    class="btn btn-warning btn-sm cansel"/></div>
      </td>
    </table>
  </form>
</ng-template>
